body {
    background-color: #eee;
}

#center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#centered-text {
    background-color: #ddd;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#board {
    background-color: #ccccff;
    display: block;
    width: 880px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.hidden {
    display: none;
}

.cards {
    display: grid;
    flex-wrap: wrap;
    text-align: center;
    grid-template-columns: repeat(8, 0fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.card, .empty_color, .fruit {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}

.empty_color {
    background-color: grey;
}

#fruit1 {
    background: url('cards.png') 0px 0px;
}
#fruit2 {
    background: url('cards.png') 0px -100px;
}
#fruit3 {
    background: url('cards.png') 0px -200px;
}
#fruit4 {
    background: url('cards.png') 0px -300px;
}
#fruit5 {
    background: url('cards.png') 0px -400px;
}
#fruit6 {
    background: url('cards.png') 0px -500px;
}
#fruit7 {
    background: url('cards.png') 0px -600px;
}
#fruit8 {
    background: url('cards.png') 0px -700px;
}

#fruit9 {
    background: url('cards.png') 0px -800px;
}
#fruit10 {
    background: url('cards.png') 0px -900px;
}
#fruit11 {
    background: url('cards.png') 0px -1000px;
}
#fruit12 {
    background: url('cards.png') 0px -1100px;
}
#fruit13 {
    background: url('cards.png') 0px -1200px;
}
#fruit14 {
    background: url('cards.png') 0px -1300px;
}
#fruit15 {
    background: url('cards.png') 0px -1400px;
}
#fruit16 {
    background: url('cards.png') 0px -1500px;
}

progress {
    display: block; /* default: inline-block */
    width: 880px;
    margin: 2em auto;
    padding: 4px;
    border: 0 none;
    background: #444;
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(196, 37, 37, 0.5), 0px 1px 0px rgba(255,255,255,0.2);
  }
  progress::-moz-progress-bar {
    border-radius: 12px;
    background: #ccccff;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
    
  }